:root {
  --primary: #FF0022;
  --accent_medium: #FDC856;
  --background_primary: #17181C;
  --background_primary-inverse: #FFFFFF;
  --background_secondary: #F1EBE7;
  --action_primary: #17181C;
  --action_secondary: #FF0022;
  --typo_primary: #17181C;
  --typo_inverse: #FFFFFF;
  --text_primary: #17181C;
  --text_inverse: #FFFFFF;
}
