@import "main";

body {
  &.blocked {
    overflow-y: hidden;
  }
}
.header {
  width: 100vw;
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 300;
  padding: 14px 12px;

  &.inverse {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    background: var(--background_primary-inverse);
  }
  &.inverse_about {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .25);
    background: var(--background_secondary);
  }
  .header__menu-button-icon {
    background: var(--typo_primary);
  }
}
.header__logo-wrapper {

}
.header__logo-link {
  width: 190px;
  height: auto;
  cursor: pointer;
}

.header__logo {
  width: 100%;
  height: 32px;
}

.header__menu-wrapper {
  width: 100%;
  justify-content: flex-end;
  display: none;
  &.visible {
    display: flex;
    position: fixed;
    top: 64px;
    left: 12px;
    width: 320px;
    background: var(--typo_inverse);
    flex-flow: column nowrap;
    padding: 32px;

    .header__menu-list-item {
      margin: 0 0 24px 0;
    }
  }
}


.header__menu-list {
  list-style-type: none;
  flex-flow: column nowrap;
  width: 100%;
}

.header__menu-list-item {
  margin: 0 32px 0 0;
  text-transform: uppercase;
}

.header__menu-list-link {
  font-size: 14px;
  &:hover {
    color: var(--primary);
    cursor: pointer;
  }
}

.header__phone-link-value {
  display: none;
}

.header__phone-link_mobile {
  width: 33px;
  height: 33px;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__phone-link-icon {
  width: 14px;
  height: 14px;
}

.section_main {
  position: relative;
  overflow: hidden;
}

.main__wrapper {
  width: 100%;
  position: relative;
  z-index: 200;
}

.main__title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  display: inline-block;
  -webkit-text-stroke: 1.5px var(--typo_inverse);
  text-stroke: 1.5px var(--typo_inverse);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  letter-spacing: 1px;
}
.main__title span{
  font-size: 64px;
  line-height: 1.1;
}

.main__subtitle {
  font-size: 19px;
  line-height: 25px;
  color: var(--typo_inverse);
  text-align: center;
  margin: 12px 0 22px 0;
  font-weight: 700;

  span {
    color: var(--typo_inverse);
    font-size: 19px;
    line-height: 25px;
  }
}

.main__button {
  width: 56px;
  height: 45px;
  color: var(--typo_inverse);
  background: none;
  border: none;
  font-size: 14px;
}
.main__button__value {
  color: var(--typo_inverse);
}

.main__video-background-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main__video-background {
  height: 100%;
  filter: brightness(.6);
}

.service__wrapper {
  width: 100%;
  flex-flow: column nowrap;
}

.effects__title-wrapper {
  width: 100%;
  padding: 12px;
  text-align: center;
}

.effects__title {
  font-size: 40px;
  line-height: 54px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary);

  span {
    color: inherit;
    font: inherit;
    background: inherit;
  }
}

.effects__subtitle {
  font-size: 37px;
  line-height: 51px;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateX(12px) translateY(-32px);
  -webkit-text-stroke: 2px var(--typo_primary);
  text-stroke: 2px var(--typo_primary);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  span {
    color: inherit;
    font: inherit;
    background: inherit;
  }
}

.effects__image-wrapper {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  background: var(--background_primary);
  position: relative;

  &::before, &::after {
    width: 250px;
    height: 250px;
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
  }

  &::before {
    background: var(--accent_medium);
    left: -16px;
    top: -16px;
  }
  &::after {
    background: var(--primary);
    left: -8px;
    top: 0;
  }
}

.effects__image {
    width: auto;
    position: relative;
    z-index: 100;
    margin-top: -15px;
    margin-left: -31px;
}

.effects__footer-text {
  font-size: 51px;
  line-height: 68px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--typo_primary);
  transform: translateX(24px) translateY(-48px);
  position: relative;
  z-index: 200;
  text-shadow: 2px 2px 1px #ffc867;

}

.service__info-wrapper {
  padding: 0 12px;
}

.info__text {
  font-size: 16px;
  line-height: 24px;
}

.service__action-wrapper {
    padding: 85px 0;
    margin-top: -140px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.action__info-wrapper {
  width: 40%;
  position: relative;
  height: auto;
}

.action__info-title {
  position: absolute;
  left: 0;
  bottom: -22px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: var(--typo_primary);
  text-transform: uppercase;
  transform: rotate(-90deg) translateY(420%);
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.action__info-subtitle {
  position: absolute;
  left: 22px;
  bottom: 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  transform: rotate(-90deg) translateY(-420%);
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  
  -webkit-text-stroke: 2px var(--primary);
  text-stroke: 2px var(--primary);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  letter-spacing: 0.10em;
}

.action__button {
    width: 181px;
    height: 151px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(48px);
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    border: none;
}
.action__button .text{
    opacity: 0;
    z-index: 100;
    position: relative;
    color: var(--typo_inverse);
    transition: opacity 1s ease .7s,transform 1.5s cubic-bezier(.19,1,.22,1);
}
.action__button .text:after {
    color: var(--background_primary);
    content: attr(data-text);
    left: 0;
    position: absolute;
    top: 100%;
}
.action__button .bg{
    position: absolute;
    top: 45px;
    left: 45px;
    right: 45px;
    bottom: 45px;
    border: 1px solid var(--background_primary);
    background: var(--background_primary);
    transition: .5s linear;
}
.section_service.inited .action__button .text{
    opacity: 1;
}
.section_service.inited .action__button .bg{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section_about {
  background: var(--background_secondary);
  display: flex;
  flex-flow: column nowrap;
  padding: 90px 0;
  display: flex;
justify-content: space-between;
}
.section_service{
  overflow: hidden;
}

.about__info-slider {
  display: block;
  width: 100%;
  padding: 67px 7px 0 9px;
}

.info-slide__title {
  font-size: 23px;
  line-height: 31px;
  font-weight: 700;
  margin: 0 0 24px 0;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
//   height: 80px;
}

.info-slide__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  height: 80px;
}

.about__content-wrapper-header {
  padding: 0 10px 0 80px;
  position: relative;
}
.content-slide {
    position: relative;
}
.content-slider-header__title {
  font-size: 32px;
  line-height: 27px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: var(--typo_primary);
  text-transform: uppercase;
}

.content-slider__header-icon {
  position: absolute;
  left: 50px;
  width: 60px;
  height: 60px;
}

.content-slider-header__subtitle {
    font-size: 32px;
    line-height: 27px;
    text-transform: uppercase;
    transform: translateX(12px) translateY(0px);
    -webkit-text-stroke: 2px var(--primary);
    text-stroke: 2px var(--primary);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    letter-spacing: 0.12em;
}

.content-slider {
  padding: 27px 0 13px 0;
  width: 100%;
}

.content-slide {
  width: 100%;
  height: 357px;
  overflow: hidden;
}

.content-slide__image {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: top;
}

.content-slider__controls-wrapper {
  width: 100%;
  padding: 0 10px;
  margin-left: -30px;
}

.content-slider__button {
  width: 75px;
  height: 75px;
  border: 1px solid var(--background_primary);
  background: var(--background_primary);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .6s ease-out;

  &:first-child {
    margin: 0 24px 0 0;
  }

  &:hover {
    background: var(--background_primary-inverse);

    .content-slider__button-icon {
      fill: var(--typo_primary);
    }
  }
}

.content-slider__button-icon {
  width: 20px;
  height: 20px;
  fill: var(--typo_inverse);
}

.section_footer {
  overflow: hidden;
}

.footer {
  background: var(--background_primary);
}

.footer__logo {
  width: 50%;
  margin-top: 36px;
}

.footer__top {
  flex-flow: column nowrap;
  padding: 50px 36px 30px;
  z-index: 101;
}

.footer__title {
  margin: 23px 0;
  font-size: 35px;
  line-height: 39px;
  font-weight: 700;
  color: var(--typo_inverse);
}

.footer__title span{
    color: var(--typo_inverse);
}

.footer__title_specific {
  color: var(--typo_inverse);
}

.footer__medium {
  flex-flow: column nowrap;
  padding: 0 12px;
  width: 100%;
}

.footer__image-wrapper {
  width: 100%;
}

.footer__image {
  width: 100%;
  height: auto;
}

.footer__text-wrapper {
  padding: 0 0 24px 0;
  margin-top: -50px;
}

.footer__text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--typo_inverse);
}
.footer__text span{
    color: #fff;
}
.footer__form-wrapper {
  flex-flow: row nowrap;
  position: relative;
  padding: 100px 0 0 0;
}

.form__title-wrapper {
  width: 74px;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 20px;
}

.footer__form-title {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 28px;
  text-transform: uppercase;
  -webkit-text-stroke: 1.5px var(--primary);
  text-stroke: 1.5px var(--primary);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  letter-spacing: 0.10em;
}

.footer__title-icon {
  width: 50px;
  margin: 120px 0 0 0;
}

.footer-form {
  width: 100%;
  transform: translateY(-93px);
  max-width: 326px;
}

.footer-input {
  height: 60px;
  padding: 0 12px;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--background_primary-inverse);
  font-size: 12px;
  color: var(--typo_inverse);
  outline: none;
  border-radius: 0 !important;

  margin: 12px 0 0 0;
  transition: all 0.3s ease;

  &:first-child {
    margin: 0;
  }

  &:focus {
    border-color: transparent;
    background: #33353C;
  }
}

.footer-form__button {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  color: var(--typo_inverse);
  border: 0;
  font-size: 16px;
  margin: 16px auto 0 auto;
  box-shadow: inset 0 0 0 1px var(--typo_inverse);
  position: relative;
  overflow: hidden;
  transition: all 0.8s linear;
  background: var(--background_primary);
  
  &:hover {
    background: var(--primary);
    box-shadow: inset 0 0 0 1px var(--primary);
    color: var(--text_inverse);
    transform: scale(1.05);

    .text{
        color: var(--primary);
        transform: translateY(-200%);
        &:after{
            color: var(--text_inverse);
        }
    }
  }
  .text{
    opacity: 0;
    z-index: 100;
    position: relative;
    color: var(--typo_inverse);
    transition: opacity 1s ease .7s,transform 1.5s cubic-bezier(.19,1,.22,1);

    &:after {
        color: var(--background_primary);
        content: attr(data-text);
        left: 0;
        position: absolute;
        top: 200%;
    }
  }
}

.layered-animations {
  display: none;
  pointer-events: none;
}
.service__effects-wrapper{
    position: relative;
}
.layered-animations {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .shape-wrap {
        position: absolute;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;

      &:nth-child(1) {
        left: 31%;
        top: 23%;
      }
      &:nth-child(2) {
        left: 22%;
        width: 58px;
        top: 37%;
      }
      &:nth-child(3) {
        left: 32%;
        top: 37%;
      }
      &:nth-child(4) {
        top: 48%;
        left: 24%;
        width: 59px;
      }
      &:nth-child(5) {
        left: 21%;
        top: 63%;
        width: 60px;
      }
      &:nth-child(6) {
        top: 29%;
        left: 70%;
        width: 60px;
      }
      &:nth-child(7) {
        top: 42%;
        width: 72px;
        left: 65%;
      }
      &:nth-child(8) {
        top: 55%;
        left: 69%;
        width: 41px;
      }
      &:nth-child(9) {
        top: 67%;
        left: 69%;
        width: 80px;
      }
      &:nth-child(10) {
        bottom: 19%;
        left: 84%;
        width: 310px;
      }
      svg, img {
        max-width: 100%;
      }
    }
  }
.marquee {
  display: none;
}

.about__photo-wrapper {
  display: none;
}

.footer__bottom {
  flex-flow: column nowrap;
  padding: 24px 12px 0;
  border-top: 1px solid #404040;
}

.footer-bottom__info-wrapper {
  color: var(--typo_inverse);
  font-size: 12px;
  justify-content: flex-start;
  align-items: center;
}

.footer__copy {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: inherit;

  .delimiter {
    display: inline-flex;
    width: 1px;
    height: 15px;
    margin-left: 8px;
    background: var(--typo_inverse);
  }

  b{
    margin-right: 5px;
  }
}

.footer__policy-link {
  color: inherit;
  margin: 0 0 0 5px;
}

.footer-bottom__contact-wrapper {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.footer-bottom__phone-link {
  width: 50%;
  display: flex;
  align-items: center;
  color: var(--typo_inverse);
  font-weight: bold;

  svg {
    width: 14px;
    height: 14px;
  }
}

.footer-bottom__phone-icon {
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
}

.footer__social-list {
  display: flex;
  list-style-type: none;
  flex-flow: row nowrap;
}

.footer__social-list-link {
  width: 32px;
  height: 32px;
}

.footer-bottom__phone-icon {
  width: 32px;
  height: 32px;
}

.modal__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  background: rgba(255,255,255,.8);
  display: none;
  &.visible {
    display: flex;
  }

  form .privacy-policy {
    color: var(--typo_primary);
    span:before {
      box-shadow: inset 0 0 0 1px var(--typo_primary);
    }
  }
}

.modal__body {
  flex-flow: column nowrap;
  width: calc(100% - 24px);
  background: var(--background_primary-inverse);
  padding: 35px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .25);
  position: relative;
  z-index: 500;
}

.modal__close-button {
  position: absolute;
  right: 0;
  top: -48px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  &::before, &::after {
    height: 2px;
    width: 24px;
    content: '';
    display: block;
    background: #888888;
    position: absolute;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.modal__title {
  font-size: 38px;
  line-height: 40px;
  text-transform: uppercase;
  -webkit-text-stroke: 1.5px var(--typo_primary);
  text-stroke: 1.5px var(--typo_primary);
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  color: transparent;
  margin: 0 0 24px 0;
    letter-spacing: 0.06em;
}

.modal__title-wrapper {
  display: none;
  &.visible {
    display: flex;
  }
}

.modal__form {
  display: none;
  &.visible {
    display: flex;
  }
}

.modal-input {
  height: 53px;
  padding: 20px;
  border: 1px solid #CECECE;
  margin: 0 0 6px 0;
  outline: none;
  &:focus {
    border-color: var(--typo_primary);
  }
  &_textarea {
    resize: none;
    height: 143px;
  }
}

.modal-form__button {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  color: var(--primary);
  border: none;
  box-shadow: inset 0 0 0 1px var(--primary);
  font-size: 16px;
  margin: 16px auto 0 auto;
  position: relative;
  overflow: hidden;
  box-sizing: initial;
  transition: all 0.6s linear;
  background: var(--background_primary-inverse);
  
  &:hover {
    background: var(--primary);
    box-shadow: inset 0 0 0 1px var(--primary);
    color: var(--text_inverse);
    transform: scale(1.05);

    .text{
        transform: translateY(-100%);
    }
  }
  .text{
    opacity: 0;
    z-index: 100;
    position: relative;
    color: var(--primary);
    transition: opacity 1s ease .7s,transform 1.5s cubic-bezier(.19,1,.22,1);

    &:after {
        color: var(--text_inverse);
        content: attr(data-text);
        left: 0;
        position: absolute;
        top: 100%;
    }
  }
}
.modal-form__button.inited, .footer-form__button.inited{
    width: 100%;
    .text{
        opacity: 1;
    }
}

.modal__thx-wrapper {
  width: 100%;
  display: none;
  &.visible {
    display: flex;
  }
}

.modal__thx-logo {
  width: 69px;
  height: 69px;
}

.modal__thx-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary);
  margin: 24px 0;
  text-align: center;
}

.modal__thx-subtitle {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.modal__outer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header__menu-button {
  width: 16px;
  height: 16px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: transparent;
  border: none;
  margin: 0 16px 0 0;
  outline: none;
  transition: all .125s;
}

.header__menu-button-icon {
  width: 100%;
  height: 2px;
}

input {
  //&:invalid {
  //  border: 1px solid var(--primary) !important;
  //}
}

@media screen and (min-width: 768px) {
  .footer-bottom__info-wrapper {
//     justify-content: flex-start;
//     flex-flow: column;
  }
  .modal__body {
    max-width: 460px;
    flex-flow: row nowrap;
  }
  .modal__title-wrapper {
    width: calc(100% - 317px);
    align-items: flex-end;
  }
  .modal__title {
    transform: rotate(-90deg);
    white-space: nowrap;
    transform-origin: 0 0;
    margin: 0 0 -37px;
  }
  .modal__form {
    width: 317px;
  }
}


@media screen and (min-width: 1025px) {
  .header__menu-button {
    display: none;
  }
  .header__menu-wrapper {
    display: flex;
  }
  .header__menu-list {
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  .header__menu-list-item {
    &:last-child {
      display: none;
    }
  }
  .header__phone-link-value {
    display: block;
    color: var(--typo_inverse);
    margin: 0 16px 0 0;
    font-size: 17px;
    font-weight: 600;
    min-width: 140px;
  }
  .header.inverse, .header.inverse_about {
    .header__phone-link-value {
      color: var(--typo_primary);
    }
  }
  .header__phone-link_mobile {
    width: 250px;
    background: transparent;
  }
  .header__phone-link-icon {
    width: 32px;
    height: 32px;
    background: var(--primary);
    * {
      transform: scale(.5) translateX(50%) translateY(50%);
    }
  }
  .header__menu-list-link {
    color: var(--typo_inverse);
    &.inverse {
      color: var(--typo_primary);
      &:hover{
        color: var(--primary);
      }
    }
  }
  .main__video-background-wrapper {
    background: var(--background_primary);
  }
  .main__video-background {
    opacity: 1;
    width: 100vw;
    height: auto;
  }
  .main__title {
    font-size: 38px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    display: inline-block;
    -webkit-text-stroke: 1.5px var(--typo_inverse);
    text-stroke: 1.5px var(--typo_inverse);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
    &.glitch {
      text-stroke: none;
      text-fill-color: none;
      color: white;
    }
  }
  .main__subtitle {
    transition: .3s linear;
    span {
        color: var(--typo_inverse);
    }
    &.hidden {
      opacity: 0;
    }
    &.visible {
      opacity: 1;
    }
  }
  .main__button {
    transition: .3s linear;
    &.hidden {
      opacity: 0;
    }
    &.visible {
      opacity: 1;
    }
    &.moved {
      margin: 34px 0 0 0;
    }
  }
  @mixin glitchCopy {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .glitch {
    position: relative;
    color: white;
    font-size: 4em;
    //letter-spacing: .5em;
    animation: glitch-skew 1s infinite linear alternate-reverse;

    &::before{
      @include glitchCopy;
      left: 2px;
      text-shadow: -2px 0 #ff00c1;
      clip: rect(44px, 450px, 56px, 0);
      animation: glitch-anim 5s infinite linear alternate-reverse;
    }
    &::after {
      @include glitchCopy;
      left: -2px;
      text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
      animation: glitch-anim2 1s infinite linear alternate-reverse;
    }
  }
  @keyframes glitch-anim {
    $steps: 20;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        transform: skew((random(100) / 100) + deg);
      }
    }
  }
  @keyframes glitch-skew {
    $steps: 10;
    @for $i from 0 through $steps {
      #{percentage($i*(1/$steps))} {
        transform: skew((random(10) - 5) + deg);
      }
    }
  }
  .action__button {
    background: transparent;
    overflow: hidden;
    color: var(--primary);
    margin: 64px 0 0 0;
    text-align: center;
    text-transform: uppercase;
    transition: .3s linear;
    &::before {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      color: var(--primary);
      position: absolute;
      z-index: 1;
      content: '';
      background: var(--typo_inverse);
      transition: all .6s ease-in;
      transition-delay: .1s;
      box-sizing: border-box;
      opacity: 0;
//       transform: scale(0.75);
    }
    &:hover {
      &::before {
        transform: scale(1);
        opacity: 1;
        border: 1px solid var(--primary);
      }
      .text{
        transform: translateY(-100%) !important;
        color: var(--typo_inverse);
        &:after{
            color: var(--primary);
        }
      }
      .bg {
        border: none;
        background: none;
      }
    }
  }
  .service__wrapper {
    flex-flow: row nowrap;
    height: 100%;
    align-items: center;
  }
  .service__info-wrapper {
    max-width: 500px;
    padding: 0 32px 0 0;
  }
  .container {
    width: 100%;
  }
  .service__effects-wrapper {
    position: relative;
    min-width: 500px;
    padding: 0 64px;
  }
  .about__info-slider {
    max-width: 300px;
    margin: 0 auto;
  }
  .info-slide__title {
    font-size: 36px;
    line-height: 46px;
    margin: 0 0 23px 0;
//     height: 100px;
  }
  .about__content-wrapper {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .about__content-wrapper-header {
    height: 450px;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-end;
    position: relative;
    transform: translateX(-70px);
  }
  .content-slider-header__title {
    transform: rotate(-90deg);
    position: absolute;
    left: -5px;
    bottom: 128px;
    font-size: 36px;
    line-height: 36px;
  }
  .content-slider-header__subtitle {
    transform: rotate(-90deg);
    position: absolute;
    left: -11px;
    bottom: 188px;
    font-size: 36px;
    line-height: 36px;
  }
  .content-slider {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  .section_about {
    position: relative;
    overflow: hidden;
  }

  .about__photo-wrapper {
    position: absolute;
    width: 36%;
    padding: 0;
    display: flex;
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
    img {
        max-width: 100%;
        transition: transform 1s ease;
    }
  }

  .about__photo-cover {
    position: relative;
    overflow: hidden;
    margin: 64px 0 0 0;
    opacity: 0;
    max-width: 600px;

    &.destroy {
      margin: 64px 0 0 0;
      opacity: 0 !important;
      transition: all .5s cubic-bezier(.25,.75,.5,1.25);
    }
    &.init {
      margin: 0;
      opacity: 1;
      transition: all .5s cubic-bezier(.25,.75,.5,1.25);
    }
    &:hover, &.hover {
      .about__photo-cover-text {
        transform: scale(1);
        opacity: 1;
      }
    }
    &[data-orientation="vertical"] {
        z-index: 1000;
    }
  }
  .section_footer {
    //min-height: 100vh;
    min-height: 100%;
    padding: 103px 0 0 0;
    background: var(--background_primary);
  }
  .footer {
    height: 90%;
    justify-content: center;
    flex-flow: column nowrap;
  }
  .footer__top {
    margin: auto auto 0;
    padding: 0 64px;
    max-width: 1366px;
    flex-flow: row nowrap;
  }
  .footer__logo {
    width: 100px;
    margin: 52px 10% 0 0;
    height: 100px;
  }
  .footer__title {
    display: flex;
    flex-flow: column nowrap;
    max-width: 60%;
    font-size: 58px;
    position: relative;
    z-index: 200;
    line-height: 1.1;
  }
  .footer__title_specific {
    transform: translateX(50%) translateY(20%);
  }
  .footer__medium {
    flex-flow: row nowrap;
    padding: 0 64px;
    max-width: 1366px;
    margin: 0 auto;
  }
  .footer__text-wrapper {
    order: 1;
  }
  .footer__image-wrapper {
    order: 2;
    min-width: 464px;
    max-width: 464px;
    padding: 0 22px;
    transform: translateY(17%);
    z-index: 100;
    position: relative;
  }
  .footer__form-wrapper {
    order: 3;
    min-width: 420px;
    align-self: flex-start;
    justify-content: space-between;
  }

  
  .footer-bottom__info-wrapper {
//     flex-direction: column;
    width: 50%;
//     align-items: flex-start;
//     justify-content: center;
  }
  .footer-bottom__contact-wrapper {
//     flex-direction: column;
    width: 50%;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
  }
  .footer-bottom__phone-link {
    width: auto;
    margin: 0 26px 12px 0;
  }
  .footer__policy-link {
//     margin: 12px 0 0 0;
  }
  .footer__bottom {
    flex-flow: row nowrap;
    width: 100%;
    max-width: 1366px;
    padding: 20px 12px 25px 12px;
    margin: auto auto 0;
  }
}

  .about__photo-cover-text {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all .4s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    color: var(--typo_inverse);
    text-align: center;
    padding: 32px;
    transform: scale(0);
  }
@media screen and (min-width: 1366px) {
  .about__info-slider {
    max-width: 630px;
  }
  .about__content-wrapper {
    max-width: 400px;
  }
  
  
  .footer-bottom__info-wrapper {
    flex-flow: row nowrap;
  }
  .footer__policy-link {
    margin: 0 0 0 8px;
  }
  .footer-bottom__contact-wrapper {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
  }
  .footer-bottom__phone-link {
    margin: 0 12px 0 0;
  }
}

@media screen and (max-width: 1281px) {
    .footer__title div {
        font-size: 45px;
    }
    .about__info-slider{
        max-width: 530px;
    }
    .service__action-wrapper {
        padding: 90px 0 0;
    }
    .about__photo-wrapper_right{
        width: calc(calc(100% - 402px) / 2);
    }
    .about__photo-wrapper{
        top: 10%;
        transform: scale(0.8);
    }
    .about__content-wrapper {
        margin: -50px auto 0;
        display: flex;
        align-items: flex-end;
    }
    .info-slide__subtitle{
        max-width: 380px;
        margin: 0 auto;
    }
    .content-slider__controls-wrapper{
        margin-left: 0;
    }
    .footer__image-wrapper {
        min-width: 414px;
        max-width: 414px;
    }
    .layered-animations .shape-wrap:nth-child(10){
        bottom: -45px;
    }
    .footer__image-wrapper{
        transform: none;
    }
    .info-slide__title{
        font-size: 28px;
    }
    .footer__image-wrapper{
        transform: translateY(-7%);
    }
    .footer__form-wrapper{
        min-width: 350px;
    }
    .service__action-wrapper{
        margin-top: 0;
    }
    .effects__title-wrapper{
        margin-bottom: -45px;
    }
    .effects__image-wrapper::before{
        top: -7px;
    }
    .layered-animations .shape-wrap {
        max-width: 35px;
    }
    .layered-animations .shape-wrap:nth-child(10){
        max-width: 200px;
    }
    .layered-animations .shape-wrap:nth-child(6) {
        left: 63%;
    }
    .layered-animations .shape-wrap:nth-child(7) {
        left: 60%;
    }
    .layered-animations .shape-wrap:nth-child(8){
        left: 62%;
    }
    .layered-animations .shape-wrap:nth-child(9) {
        left: 62%;
    }
    .main__title span{
        font-size: 38px;
    }
    .main__title-wrapper {
        margin-bottom: -21px;
    }
}
@media screen and (max-width: 1780px) {
    .effects__image{
        height: 100%;
        margin-top: 0;
    }
}
.footer__title .space{
    display: none;
}
@media screen and (max-width: 640px) {
    .about__photo-cover-text {
        opacity: 1;
        transform: none;
    }
    .main__title-wrapper {
        margin-bottom: 0;
    }
    .service__action-wrapper {
        padding: 0 0 70px;
    }
    .footer__form-wrapper{
        min-width: 100%;
    }
    .info-slide__subtitle{
        max-width: 100%;
    }
    .about__info-slider{
        padding-top: 0px;
    }
    .footer__title{
        margin-right: -15px;
    }
    .footer__title div{
        font-size: 35px;
    }
    .footer__top{
        padding-bottom: 15px;
    }
    .footer__form-title{
        font-size: 24px;
    }
    .footer-bottom__info-wrapper{
        justify-content: center;
    }
    .content-slider__button:hover {
        background: var(--background_primary);
        .content-slider__button-icon {
            fill: var(--typo_inverse);
        }
    }
    .content-slider__button:active {
        background: var(--background_primary-inverse);
        .content-slider__button-icon {
            fill: var(--typo_primary);
        }
    }
    .effects__title-wrapper{
        margin-bottom: -60px;
    }
    .layered-animations .shape-wrap:nth-child(10) {
        display: none;
    }
    .layered-animations .shape-wrap{
//         zoom: 0.7
    }
    .about__info-slider{
        max-width: 100%;
    }
    .footer__logo {
        width: 94px;
        height: 93px;
        margin-left: -21px;
        margin-top: 0;
    }
    .section_about{
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .about__content-wrapper{
        margin-top:0;
        width: 100%;
        display: block;
    }
    .main__subtitle{
        max-width: 210px;
    }
    .footer__title .space{
        display: inline;
        padding-right: 100%;
    }
    .footer-bottom__phone-link{
        font-size: 13px;
    }
    .footer__image-wrapper{
        min-width: 100%;
    }
    .footer__text-wrapper{
        position: relative;
        z-index: 105;
        margin-top: 30px;
    }
    .footer__image-wrapper{
        transform: none;
    }
    .info-slide__title{
        font-size: 23px;
    }
    .info-slide{
        margin-bottom: 67px;
    }
    .action__button .text:after{
        display: none;
    }
    .layered-animations .shape-wrap:nth-child(1) {
        left: 24%;
        width: 30px;
    }
    .layered-animations .shape-wrap:nth-child(2) {
        left: 12%;
        top: 34%;
    }
    .layered-animations .shape-wrap:nth-child(3) {
        left: 25%;
        width: 30px;
        top: 33%;
    }
    .layered-animations .shape-wrap:nth-child(4) {
        left: 16%;
        width: 32px;
        top: 43%;
    }
    .layered-animations .shape-wrap:nth-child(5) {
        left: 13%;
        top: 55%;
        width: 33px;
    }
    .layered-animations .shape-wrap:nth-child(6) {
        left: 73%;
        top: 27%;
        width: 30px;
    }
    .layered-animations .shape-wrap:nth-child(7) {
        left: 67%;
        top: 38%;
        max-width: 40px;
    }
    .layered-animations .shape-wrap:nth-child(8){
        left: 71%;
        width: 26px;
        top: 48%;
    }
    .layered-animations .shape-wrap:nth-child(9) {
        left: 71%;
        top: 58%;
        max-width: 41px;
    }
    .modal__title{
        font-size: 22px;
    }
    .content-slider__header-icon{
        left: 10px;
    }
    .content-slider-header__subtitle{
        margin-left: -12px;
    }
    .header__logo-wrapper {
        width: 77%;
        justify-content: space-between;
        margin-top: 5px;
    }
    .header {
        align-items: flex-start;
    }
    .footer__title-icon {
        margin-top: 90px;
    }
    .form__title-wrapper {
        margin-top: 40px;
    }
    .effects__image{
        margin-left: -18px;
    }
}

@media screen and (min-width: 1920px) {
  .action__info-subtitle {
    left: 26px;
  }
  .effects__footer-text {
    text-shadow: 3px 3px 1px #ffc867;
  }
  .container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  .header__logo {
    width: 279px;
    height: 46px;
  }
  .main__title-wrapper {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .main__title {
    font-size: 64px;
    line-height: 1;
    text-align: center;
    width: max-content;
    position: relative;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
    &.hidden {
      opacity: 0;
    }
  }
  .main__button {
    &.moved {
      margin: 64px 0 0 0;
    }
  }

  .marquee {
    position: absolute;
    display: block;
    top: 0;
    opacity: 0;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
  }

  .marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
  }

  .marquee span {
    font-size: 64px;
    line-height: 1;
    color: var(--typo_inverse);
    white-space: nowrap;
    padding: 0 2vw;
    font-weight: 700;
    text-transform: uppercase;
    transition: 1s;
  }

  .marquee.active {
    opacity: 1;
    margin: 60px 0 0 0;
  }

  .marquee.active .marquee__inner {
    animation-play-state: running;
  }

  @keyframes marquee {
    0% {
      transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
      transform: translate3d(var(--move-final), 0, 0);
    }
  }


  .main__subtitle {
    font-size: 30px;
    line-height: 30px;
    margin: -10px 0 6px 0;
    color: var(--typo_inverse);

    span {
        font-size: 30px;
        line-height: 30px;
    }
  }
  .main__subtitle .letter {
    display: inline-block;
    line-height: 1em;
    color: var(--typo_inverse);
  }
  .main__button {
    width: 56px;
    height: 56px;
    margin: 40px 0 0 0;
  }
  .main__button__value{
    opacity: 0;
    position: relative;
  }
  .main__video-background{
    height: auto;
    width: 100vw;
  }
  .service__wrapper {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .service__effects-wrapper {
    position: relative;
  }
  .effects__title-wrapper {
    margin-bottom: -30px;
  }
  .effects__title {
    font-size: 73px;
    line-height: 99px;
  }
  .effects__subtitle {
    font-size: 68px;
  }

  .effects__image-wrapper {
    width: 426px;
    height: 426px;
    transform: translateX(20px) translateY(2px);

    &::before, &::after {
      width: 426px;
      height: 426px;
    }
  }
  .effects__footer-text {
    font-size: 93px;
    line-height: 125px;
    transform: translateX(24px) translateY(-74px);
  }
  .service__info-wrapper {
    max-width: 600px;
    margin-top: -100px;
    margin-left: -100px;
  }
  .info__text {
    font-size: 18px;
    line-height: 30px;
  }
  .about__content-wrapper {
    max-width: 500px;
    display: flex;
    align-items: flex-end;
    margin-bottom: -11px;
  }
  .action__info-title {
    font-size: 36px;
    line-height: 36px;
  }
  .action__info-subtitle {
    font-size: 33px;
  }
  .action__button {
    transform: translateY(192px);
  }
  .about__photo-wrapper {
    transform: scale(1);
  }

  .content-slider__header-icon {
    width: 80px;
    height: 80px;
    left: 40px;
  }
  .footer__top {
    max-width: 1440px;
  }
  .footer__medium {
    max-width: 1440px;
  }
  .footer {
    min-height: 90vh;
  }
}

.animation-wrapper {
  width: 80%;
  padding-bottom: 40%;
}

form .privacy-policy {
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: var(--text_inverse);
  margin: 18px 0 4px 0;
  position: relative;
  flex-wrap: wrap;

  input {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  span {
    position: relative;

    display: inline-flex;
    align-items: center;
    padding: 0 0 0 27px;
    flex-wrap: wrap;
    color: inherit;

    &:before {
      content: '';
      margin-right: 13px;
      width: 12px;
      height: 12px;
      box-shadow: inset 0 0 0 1px var(--typo_inverse);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 250px;
      background: var(--primary);
      transition: all 0.6s ease; 

      opacity: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    display: inline-flex;
    transition: all 0.6s ease; 

    &:hover {
      text-decoration: none;
    }
  }

  ins {
    text-decoration: none;
  }

  input:checked + span {
    &:after {
      opacity: 1;
    }
  }
}
.section_about .about__photo-cover{
    &:hover, &.hover {
        opacity: 1;
        &[data-orientation="vertical"] {
            img {
                transform: scale(1.1);
            }
        }
    }
}
.info-slide__title .letter{
    transform-origin: 50% 100%;
    display: block;
    line-height: 1em;
    font: inherit;
}
.main__title-wrapper .main__title, .main__wrapper .main__subtitle{
    font-size: 0;
    overflow: hidden;
}
.footer__title div {
    font-size: 58px;
    line-height: 1.1;
}
.footer__title{
    font-size: 0 !important;
}
.footer__top{
    overflow: hidden;
}
.main__title span, .main__subtitle span, .footer__title .letter span, .footer__title .letter{
    display: inline-block;
    overflow: hidden;
    transition: transform 1.5s cubic-bezier(.19,1,.22,1);
    vertical-align: middle;
}

.main__subtitle .letter span {
    transform: translateY(110%) rotate(0.15deg);
}
.main__subtitle.inited .letter span {
    transform: none;
}
.main__title .letter {
    margin: 0 5px;
}
.main__subtitle .letter{
    margin: 0 3px;
}
.animate__title .letter:first-child {
    transform: translateX(5rem);
}
.animate__title .letter:nth-child(2){
    transform: translateY(-100%);
}
.animate__title.footer__title .letter:nth-child(2) span {
    transform: translateY(-150%);
}
.animate__title .letter:nth-child(3){
    transform: translateX(-11.5rem);
}
.animate__title .letter:nth-child(4) {
    transform: translateX(18.5rem);
}
.animate__title .letter:first-child span {
    transform: translateX(100%);
}
.animate__title .letter:nth-child(3) span {
    transform: translateX(-100%);
}
.animate__title .letter:nth-child(4) span {
    transform: translateX(100%);
}
.animate__title .letter:nth-child(5){
    transform: translateY(200%);
}
.animate__title .letter:nth-child(6){
    transform: translateX(0);
}
.animate__title .letter:nth-child(6) span {
    transform: translateX(-100%);
}
.animate__title .letter:nth-child(7) span {
    transform: translateY(-100%);
}
.animate__title .letter:nth-child(8) span {
    transform: translateX(200%);
}
.animate__title.inited span{
    transform: none !important;
}
.section_main .main__button.inited{
    width: 232px;
}
.section_main .main__button.inited .main__button__value{
    opacity: 1;
}
.main__button{
    overflow: hidden;
    position: relative;
}
.main__button__value{
    z-index: 2;
    transition: opacity 1s ease .7s,transform 1.5s cubic-bezier(.19,1,.22,1);
    display: block;
    opacity: 0;
    width: max-content;
    margin: 0 auto;
    position: relative;
}
.main__button:hover {
    transform: scale(1.05);
}
.main__button:after{
    bottom: 0;
    content: "";
    display: block;
    height: 14rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) scale(.75);
    transition: opacity .5s cubic-bezier(.26,1,.48,1),transform .5s cubic-bezier(.26,1,.48,1);
    width: 200%;
    z-index: 1;
    background: var(--typo_inverse);
    border: 1px solid var(--typo_inverse);
    opacity: 0;
}
.main__button__bg {
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: var(--primary);
    border: 1px solid var(--primary);
}
.main__button:hover:after{
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
}
.main__button:hover .main__button__value{
    transform: translateY(-100%)!important;
}
.main__button__value:after{
    color: var(--primary);
    content: attr(data-text);
    left: 0;
    position: absolute;
    top: 100%;
}
.main__button:hover .main__button__value:after{
    color: var(--primary);
}
.section_service .info__text span, .footer__text span{
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
}
.info-slide__title span, .info-slide__subtitle span {
    display: inline-block;
    overflow: hidden;
    transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    vertical-align: middle;
}
.info-slide__title .letter:first-child{
    transform: translateY(200%);
}
.info-slide__title .letter:nth-child(2){
    transform: translateY(-200%);
}
.info-slide__title.active span, .info-slide__subtitle.active span{
    transform: none !important;
}
.content-slider__button.disable{
    pointer-events: none;
    opacity: .5;
}
.header.inverse.black, .header.black{
    background: var(--background_primary);
}
