@import "helpers/variables";
@import "../blocks/modules";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

// Fonts
a,
p,
span,
button,
td,
th,
li,
h1,
h2,
h3,
h4,
h5,
input,
textarea,
h6 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: var(--text_primary);
}

.text_secondary {
  color: var(--text_secondary);
}

.text_accent {
  color: var(--text_accent);
}

.text_bold {
  font-weight: 500;
}

.link {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
  &_bordered {
    border-bottom: 1px solid var(--link-color);
  }
}

.title {
  font-weight: 400;
  &_big {
    font-size: 36px;
    line-height: 24px;
  }
  &_medium {
    font-size: 24px;
    line-height: 28px;
  }
  &_upper-small {
    font-size: 18px;
    line-height: 16px;
  }
  &_small {
    font-size: 14px;
  }
}

.plain-text {
  font-weight: 400;
  &_big {
    font-size: 24px;
    line-height: 24px;
  }
  &_medium {
    font-size: 16px;
  }
  &_small {
    font-size: 14px;
  }
}

button {
  cursor: pointer;
}
// Radio/Checkboxes
.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: var(--block-background);
  border: 2px solid var(--checkbox);
  border-radius: 4px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background: var(--checkbox);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: block;
  opacity: 0;
  transition: all .125s ease-in-out;
}

.checkbox-container input:checked ~ .checkmark:after {
  opacity: 1;
}

.checkbox-container .checkmark:after {
  left: 3px;
  top: 0px;
  width: 3px;
  height: 7px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}

// Wrappers
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &_row-reverse {
    flex-direction: row-reverse;
  }

  &_column {
    flex-direction: column;

    &-reverse {
      flex-direction: column-reverse;
    }
  }

  &_nowrap {
    flex-wrap: nowrap;
  }

  &_wrap {
    flex-wrap: wrap;
  }

  &_wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}

.justify {
  justify-content: flex-start;

  &_start {
    justify-content: flex-start;
  }

  &_end {
    justify-content: flex-end;
  }

  &_center {
    justify-content: center;
  }

  &_between {
    justify-content: space-between;
  }

  &_around {
    justify-content: space-around;
  }

  &_evenly {
    justify-content: space-evenly;
  }
}

.justify-items {
  justify-items: auto;

  &_start {
    justify-items: start;
  }

  &_end {
    justify-items: end;
  }

  &_center {
    justify-items: center;
  }

  &_stretch {
    justify-items: stretch;
  }
}

.justify-self {
  justify-self: auto;

  &_start {
    justify-self: start;
  }

  &_end {
    justify-self: end;
  }

  &_center {
    justify-self: center;
  }

  &_stretch {
    justify-self: stretch;
  }
}

.content {
  &_center {
    align-content: center;
  }

  &_start {
    align-content: flex-start;
  }

  &_end {
    align-content: flex-end;
  }

  &_between {
    align-content: space-between;
  }

  &_around {
    align-content: space-around;
  }

  &_evenly {
    align-content: space-evenly;
  }
}

.items {
  &_start {
    align-items: flex-start;
  }

  &_end {
    align-items: flex-end;
  }

  &_center {
    align-items: center;
  }

  &_baseline {
    align-items: baseline;
  }

  &_stretch {
    align-items: stretch;
  }
}

.inline {
  display: inline;

  &_block {
    display: inline-block;
  }
}
.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  padding: 50px 0;
}

html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; }
.c-scrollbar:hover {
  transform: scaleX(1.45); }
.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1; }
[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1); }
[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: grab; }
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: grabbing; }
[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0; }
